/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

* a, button {
  text-decoration: none;
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.body {
  background: #F6F6F6;
}

.wrap {
  max-width: 1170px;
  padding: 10px;
  margin: 0 auto;
  font-family: Rubik;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-img {
  width: 35px;
  height: 36px;
}
.header__logo-name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #0B132A;
}
.header____vpn {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0B132A;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .header__nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header__nav {
    display: none;
  }
}
.header__item {
  margin-left: 2.5em;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  color: #4F5665;
}
.header__sing-in {
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
  color: #0B132A;
}
@media screen and (max-width: 768px) {
  .header__sing-in {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header__sing-in {
    display: none;
  }
}
.header__sing-up {
  width: 150px;
  height: 45px;
  margin-left: 30px;
  padding: 13px 45px;
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
  background: #ffffff;
  border: 1px solid #F53838;
  border-radius: 50px;
  color: #F53838;
}
@media screen and (max-width: 768px) {
  .header__sing-up {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header__sing-up {
    display: none;
  }
}
.header__burger-menu {
  display: none;
}
@media screen and (max-width: 992px) {
  .header__burger-menu {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header__burger-menu {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .header__burger-menu {
    display: block;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
}
.hero__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 50px;
  margin-left: 70px;
}
@media screen and (max-width: 992px) {
  .hero__container {
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .hero__container {
    width: 100%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .hero__container {
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 30px 10px 0px 10px;
  }
}
.hero__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  color: #0B132A;
}
@media screen and (max-width: 992px) {
  .hero__title {
    font-size: 40px;
    line-height: 55px;
  }
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 40px;
    line-height: 55px;
  }
}
@media screen and (max-width: 576px) {
  .hero__title {
    font-size: 32px;
    line-height: 45px;
  }
}
.hero__title-vpn {
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  color: #0B132A;
}
@media screen and (max-width: 992px) {
  .hero__title-vpn {
    font-size: 40px;
    line-height: 55px;
  }
}
@media screen and (max-width: 768px) {
  .hero__title-vpn {
    font-size: 40px;
    line-height: 55px;
  }
}
@media screen and (max-width: 576px) {
  .hero__title-vpn {
    font-size: 32px;
    line-height: 45px;
  }
}
.hero__subtitle {
  margin-top: 0.5em;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
@media screen and (max-width: 992px) {
  .hero__subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .hero__subtitle {
    font-size: 14px;
  }
}
.hero__subtitle-vpn {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: #4F5665;
}
@media screen and (max-width: 992px) {
  .hero__subtitle-vpn {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .hero__subtitle-vpn {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .hero__subtitle-vpn {
    font-size: 14px;
  }
}
.hero .button {
  width: 250px;
  padding: 17px 77px;
  margin-top: 2em;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  border: none;
  border-radius: 10px;
  background: #F53838;
  color: #ffffff;
  box-shadow: 0px 25px 20px rgba(245, 56, 56, 0.35);
}
.hero__img {
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  .hero__img {
    padding-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .hero__img {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .hero__img {
    display: none;
  }
}
.hero__page {
  width: 540px;
  height: 326px;
}
@media screen and (max-width: 992px) {
  .hero__page {
    width: 420px;
    height: 280px;
  }
}
@media screen and (max-width: 768px) {
  .hero__page {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .hero__page {
    display: none;
  }
}

.statistics {
  display: flex;
  max-width: 1140px;
  margin: 85px auto;
  padding: 72px 91px;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
@media screen and (max-width: 992px) {
  .statistics {
    margin: 40px auto;
    padding: 30px 30px;
  }
}
@media screen and (max-width: 768px) {
  .statistics {
    margin: 40 auto;
    padding: 30px 30px;
  }
}
@media screen and (max-width: 576px) {
  .statistics {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px auto;
    padding: 10px 15px;
  }
}
.statistics__details {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 90px;
}
@media screen and (max-width: 992px) {
  .statistics__details {
    padding-left: 40px;
  }
}
@media screen and (max-width: 768px) {
  .statistics__details {
    padding-left: 40px;
  }
}
@media screen and (max-width: 576px) {
  .statistics__details {
    padding-left: 10px;
    margin-top: 15px;
  }
}
.statistics__details:not(:last-child) {
  border-right: 2px solid #eeeff2;
}
@media screen and (max-width: 576px) {
  .statistics__details:not(:last-child) {
    border: none;
  }
}
.statistics__img {
  width: 55px;
  height: 55px;
  margin-right: 36px;
}
@media screen and (max-width: 576px) {
  .statistics__img {
    width: 45px;
    height: 45px;
    margin-right: 16px;
  }
}
.statistics__content-number {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #0B132A;
}
@media screen and (max-width: 576px) {
  .statistics__content-number {
    font-size: 20px;
    line-height: 20px;
  }
}
.statistics__content-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
@media screen and (max-width: 576px) {
  .statistics__content-text {
    font-size: 18px;
    line-height: 20px;
  }
}

.feature {
  display: flex;
  margin: 0 auto;
}
.feature__block {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 10em;
}
@media screen and (max-width: 992px) {
  .feature__block {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .feature__block {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .feature__block {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
.feature__title {
  margin-top: 1.4em;
  margin-bottom: 0.6em;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #0B132A;
}
@media screen and (max-width: 768px) {
  .feature__title {
    line-height: 40px;
  }
}
@media screen and (max-width: 576px) {
  .feature__title {
    font-size: 25px;
    line-height: 30px;
  }
}
.feature__subtitle {
  margin-bottom: 1.2em;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
@media screen and (max-width: 992px) {
  .feature__subtitle {
    font-size: 18px;
    line-height: 25px;
  }
}
@media screen and (max-width: 768px) {
  .feature__subtitle {
    font-size: 18px;
    line-height: 25px;
  }
}
@media screen and (max-width: 576px) {
  .feature__subtitle {
    line-height: 25px;
  }
}
.feature__list {
  list-style: none;
  padding: 0;
}
.feature__item {
  display: flex;
  margin: 15px 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
@media screen and (max-width: 992px) {
  .feature__item {
    font-size: 16px;
    margin: 0.5em 5em;
    line-height: 25px;
  }
}
@media screen and (max-width: 768px) {
  .feature__item {
    font-size: 16px;
    margin: 10px 5px;
    line-height: 25px;
  }
}
@media screen and (max-width: 576px) {
  .feature__item {
    margin: 10px 5px;
    line-height: 25px;
  }
}
.feature__img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.feature__images {
  width: 508px;
  height: 414px;
}
@media screen and (max-width: 992px) {
  .feature__images {
    width: 350px;
    height: 300px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .feature__images {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .feature__images {
    display: none;
  }
}

.heading {
  max-width: 35%;
  margin: 70px auto;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .heading {
    width: 100%;
    margin: 30px auto;
  }
}
@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
    margin: 30px auto;
  }
}
@media screen and (max-width: 576px) {
  .heading {
    width: 100%;
    margin: 10px auto;
  }
}
.heading__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #0B132A;
}
@media screen and (max-width: 992px) {
  .heading__title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .heading__title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
  .heading__title {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
  }
}
.heading__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
@media screen and (max-width: 992px) {
  .heading__subtitle {
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (max-width: 768px) {
  .heading__subtitle {
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (max-width: 576px) {
  .heading__subtitle {
    font-size: 18px;
    line-height: 20px;
  }
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .about {
    display: flex;
    flex-direction: column;
  }
}
.about__products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 760px;
  border: 2px solid #dddddd;
  border-radius: 10px;
}
@media screen and (max-width: 992px) {
  .about__products {
    width: 250px;
    height: 700px;
  }
}
@media screen and (max-width: 576px) {
  .about__products {
    height: 700px;
    margin-top: 10px;
  }
}
.about__img {
  width: 145px;
  height: 165px;
  margin: 79px 93px 30px 93px;
}
@media screen and (max-width: 992px) {
  .about__img {
    width: 100px;
    height: 110px;
    margin: 30px 50px 10px 50px;
  }
}
.about__title {
  margin-bottom: 1.9em;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #0B132A;
}
.about__list {
  flex-grow: 1;
  list-style: none;
  padding: 0;
}
.about__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.6em;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
.about__prise {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #0B132A;
}
.about__text {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  color: #0B132A;
}
.about__btn-select {
  margin-bottom: 50px;
  padding: 13px 63px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  background: #ffffff;
  border: 2px solid #F53838;
  border-radius: 50px;
  color: #F53838;
}
.about__products--active:hover {
  border: 2px solid #F53838;
}
.about__btn-select--active:hover {
  background: #F53838;
  color: #ffffff;
  box-shadow: 1px 20px 15px rgba(245, 56, 56, 0.35);
}

.location {
  margin-top: 25px;
}
@media screen and (max-width: 992px) {
  .location__img-maps {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .location__img-maps {
    width: 100%;
  }
}
.location__img-brands {
  margin-top: 6px;
}
@media screen and (max-width: 992px) {
  .location__img-brands {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .location__img-brands {
    width: 100%;
  }
}

.reviews {
  margin-bottom: 180px;
}
.reviews__container-card {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .reviews__container-card {
    flex-direction: column;
  }
}
.reviews__card {
  max-width: 400px;
  min-width: 270px;
  padding: 30px;
  margin-bottom: 60px;
  border: 2px solid #dddddd;
  border-radius: 10px;
}
.reviews__card--active:hover {
  border: 2px solid #F53838;
  box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.06);
}
.reviews__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.reviews__info {
  padding: 0px 20px;
  flex-grow: 1;
}
.reviews__points {
  margin-right: 10px;
}
.reviews__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews__arrow-left {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  padding: 18px;
  font-size: 20px;
  border: 2px solid #F53838;
  border-radius: 50%;
  background: #ffffff;
  color: #F53838;
}
.reviews__arrow-left--active:hover {
  background: #F53838;
}
.reviews__arrow-right--active:hover {
  background: #F53838;
}
.reviews__arrow-right {
  width: 60px;
  height: 60px;
  font-size: 20px;
  padding: 18px;
  border: 2px solid #F53838;
  border-radius: 50%;
  background: #ffffff;
  color: #F53838;
}
.reviews__dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background: #dde0e4;
}
.reviews__dot--active:hover {
  width: 45px;
  background-color: #F53838;
  border: none;
  border-radius: 35%;
}

.subscribe {
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1140px;
  padding: 58px 70px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10px;
}
@media screen and (max-width: 992px) {
  .subscribe {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .subscribe {
    width: 95%;
    padding: 20px 25px;
  }
}
.subscribe__content {
  max-width: 410px;
}
.subscribe__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  color: #0B132A;
}
@media screen and (max-width: 576px) {
  .subscribe__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }
}
.subscribe__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
@media screen and (max-width: 576px) {
  .subscribe__subtitle {
    line-height: 20px;
  }
}
.subscribe .button {
  width: 250px;
  padding: 17px 65px;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  border: none;
  border-radius: 10px;
  background: #F53838;
  color: #ffffff;
  box-shadow: 0px 25px 20px rgba(245, 56, 56, 0.35);
}
@media screen and (max-width: 576px) {
  .subscribe .button {
    width: 150px;
    padding: 10px 30px;
  }
}

.footer {
  display: flex;
  background: #f8f8f8;
}
@media screen and (max-width: 576px) {
  .footer {
    display: block;
    padding: 10px;
  }
}
.footer__socials {
  width: 340px;
  margin-top: 180px;
  margin-left: 10px;
}
.footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .footer__logo {
    margin-bottom: 10px;
  }
}
.footer__img {
  width: 35px;
  height: 35px;
}
.footer__logo-title {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #0B132A;
}
.footer__vpn {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #0B132A;
}
.footer .socials-span {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #4F5665;
}
.footer__socials-text {
  max-width: 340px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
.footer__socials-icons {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 30px;
}
@media screen and (max-width: 576px) {
  .footer__socials-icons {
    margin-bottom: 10px;
  }
}
.footer__back {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #AFB5C0;
}
.footer .back__vpn {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #AFB5C0;
}
.footer__container {
  display: flex;
  margin-top: 160px;
  margin-left: 110px;
}
@media screen and (max-width: 992px) {
  .footer__container {
    margin-left: 20px;
  }
}
@media screen and (max-width: 576px) {
  .footer__container {
    margin-top: 5px;
    margin-left: 0px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
@media screen and (max-width: 992px) {
  .footer__list {
    margin-left: 50px;
  }
}
@media screen and (max-width: 576px) {
  .footer__list {
    margin-left: 10px;
    padding: 15px;
  }
}
.footer__list-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #0B132A;
}
@media screen and (max-width: 576px) {
  .footer__list-title {
    line-height: 20px;
  }
}
.footer__link {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
@media screen and (max-width: 576px) {
  .footer__link {
    line-height: 20px;
  }
}

/*# sourceMappingURL=/scss.6b84482b.css.map */