.footer {
  display: flex;
  background: #f8f8f8;

  @include sm($screen-sm-max) {
    display: block;
    padding: 10px;
  }

  &__socials {
    width: 340px;
    margin-top: 180px;
    margin-left: 10px;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include sm($screen-sm-max) {
      margin-bottom: 10px;
    }
  }

  &__img {
    width: 35px;
    height: 35px;
  }

  &__logo-title {
    margin-left: 10px;
    @include font($lg-text, 500, 24px);
    color: $primary-color;
  }

  &__vpn {
    @include font($lg-text, 700, 24px);
    color: $primary-color;
  }

  .socials-span {
    @include font($sm-text, 500, 30px);
    color: $secondary-color;
  }

  &__socials-text {
    max-width: 340px;
    margin-bottom: 30px;
    @include font($sm-text, 400, 30px);
    color: $secondary-color;
  }

  &__socials-icons {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 30px;

    @include sm($screen-sm-max) {
      margin-bottom: 10px;
    }
  }

  &__back {
    @include font($sm-text, 400, 30px);
    color: $small-color;
  }

  .back__vpn {
    @include font($sm-text, 500, 30px);
    color: $small-color;
  }

  &__container {
    display: flex;
    margin-top: 160px;
    margin-left: 110px;

    @include lg($screen-lg-max) {
      margin-left: 20px;
    }

    @include sm($screen-sm-max) {
      margin-top: 5px;
      margin-left: 0px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-left: 100px;

    @include lg($screen-lg-max) {
      margin-left: 50px;
    }

    @include sm($screen-sm-max) {
      margin-left: 10px;
      padding: 15px;
    }
  }

  &__list-title {
    margin-bottom: 20px;
    @include font($md-text, 500, 30px);
    color: $primary-color;

    @include sm($screen-sm-max) {
      line-height: 20px;
    }
  }

  &__link {
    margin-bottom: 10px;
    @include font($sm-text, 400, 30px);
    color: $secondary-color;

    @include sm($screen-sm-max) {
      line-height: 20px;
    }
  }
}
