.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    width: 35px;
    height: 36px;
  }

  &__logo-name {
    margin-left: 10px;
    @include font($lg-text, 500, 24px);
    color: $primary-color;
  }

  &____vpn {
    font-weight: 700;
    font-size: $lg-text;
    line-height: 24px;
    color: $primary-color;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include lg($screen-lg-max) {
      display: none;
    }

    @include md($screen-md-max) {
      display: none;
    }

    @include sm($screen-sm-max) {
      display: none;
    }
  }

  &__item {
    margin-left: 2.5em;
    @include font($md-text, 400, 19px);
    color: $secondary-color;
  }

  &__sing-in {
    @include font($md-text, 500, 19px);
    color: $primary-color;

    @include md($screen-md-max) {
      display: none;
    }

    @include sm($screen-sm-max) {
      display: none;
    }
  }

  &__sing-up {
    width: 150px;
    height: 45px;
    margin-left: 30px;
    padding: 13px 45px;
    @include font($md-text, 500, 19px);
    background: $white-color;
    border: 1px solid $tertiary-color;
    border-radius: 50px;
    color: $tertiary-color;

    @include md($screen-md-max) {
      display: none;
    }

    @include sm($screen-sm-max) {
      display: none;
    }
  }

  &__burger-menu {
    display: none;

    @include lg($screen-lg-max) {
      display: block;
    }

    @include md($screen-md-max) {
      display: block;
    }

    @include sm($screen-sm-max) {
      display: block;
    }
  }
}
