.location {
  margin-top: 25px;

  &__img-maps {
    @include lg($screen-lg-max) {
      width: 100%;
    }

    @include sm($screen-sm-max) {
      width: 100%;
    }
  }

  &__img-brands {
    margin-top: 6px;

    @include lg($screen-lg-max) {
      width: 100%;
    }

    @include sm($screen-sm-max) {
      width: 100%;
    }
  }
}
