//MEDIA QUERIES

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;


// TYPOGRAPHY

$xxl-text:35px;
$xl-text: 25px;
$lg-text:20px;
$md-text:18px;
$sm-text:16px;
$xs-text:14px;

// COLORS

$primary-color: #0B132A;
$secondary-color: #4F5665;
$tertiary-color: #F53838;
$small-color:#AFB5C0;
$white-color:#ffffff;
$light-color:#dddddd;

